<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysSongTypeMapper">

    <resultMap type="com.ruoyi.system.entity.SysSongType" id="SysSongTypeResult">
        <result property="id"    column="id"    />
        <result property="typeName"    column="type_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyBy"    column="modify_by"    />
        <result property="modifyTime"    column="modify_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSysSongTypeVo">
        select id, type_name, create_by, create_time, modify_by, modify_time, status from sys_song_type
    </sql>

    <select id="selectSysSongTypeList" parameterType="com.ruoyi.system.entity.SysSongType" resultMap="SysSongTypeResult">
        <include refid="selectSysSongTypeVo"/>
        <where>
            <if test="typeName != null  and typeName != ''"> and type_name like concat('%', #{typeName}, '%')</if>
            <if test="modifyBy != null  and modifyBy != ''"> and modify_by = #{modifyBy}</if>
            <if test="modifyTime != null "> and modify_time = #{modifyTime}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectSysSongTypeById" parameterType="Long" resultMap="SysSongTypeResult">
        <include refid="selectSysSongTypeVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysSongType" parameterType="com.ruoyi.system.entity.SysSongType" useGeneratedKeys="true" keyProperty="id">
        insert into sys_song_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null">type_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyBy != null">modify_by,</if>
            <if test="modifyTime != null">modify_time,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeName != null">#{typeName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="modifyBy != null">#{modifyBy},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateSysSongType" parameterType="com.ruoyi.system.entity.SysSongType">
        update sys_song_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="modifyBy != null">modify_by = #{modifyBy},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysSongTypeById" parameterType="Long">
        delete from sys_song_type where id = #{id}
    </delete>

    <delete id="deleteSysSongTypeByIds" parameterType="String">
        delete from sys_song_type where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
